@import-normalize;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Consolas', sans-serif;
  color: whitesmoke;
}

body {
  background: linear-gradient(120deg, #000000 0%, #01011f 90%, #00025f 100%);
}

header {
  background: linear-gradient(120deg, #000000 0%, #01011f 90%, #00025f 100%) !important;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

table {
  background: rgba($color: #000000, $alpha: 0.2)
}

.dex-row {
  background: rgba($color: #000000, $alpha: 0.2)
}

.dex-row.clickable {
  cursor: pointer;
}

#logged-home-page{
  display: flex;
  flex-direction: row;
  
  #selection{
    flex : 1 2 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }
  
  #swap-action{
    flex : 2 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width : 33%;
  }
}